#title {
	background-color: rgb(75, 72, 72);
	color: white;
	text-align: center;
	padding: 10px;
	margin-bottom: 0px;
}

#searchBox {
	background-color: cornflowerblue;
	color: white;
	height: 500px;
	float: left;
}

#button {
	background-color: rgb(162, 166, 173);
	color: rgb(12, 11, 11);
}

#button:hover {
	background-color: rgb(52, 76, 121);
	color: white;
}

ul {
	list-style-type: none;
	padding: 10px;
}

.city {
	width: 96%;
	margin: 5px;
	text-align: left;
}

.city:hover {
	background-color: rgb(192, 185, 185);
}

#results {
	float: left;
}

.jumbotron {
	border: solid grey 1px;
	margin: 15px;
}

.card {
	margin: 15px;
	float: left;
	border-radius: 3%;
	background-color: cornflowerblue;
	color: white;
}

.search {
	width: 88%;
	margin: 15px;
}
